

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration:none;
  color: inherit;
}
.text-centet{
  text-align: center;
}
.section-title{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.section-lead{
  font-size: 15px;
  text-align: centre;
  margin-bottom: 10px;
  font-style: italic;
  padding-left: 20px;
  grid-template-columns: repeat(2,1fr);
  
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 5px;
  
}
.navbar-links{
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.hero{
  height: 450px;
  background-image: url('/hero.png');
  color: white;
  text-align: center;
  padding-top: 100px;
}
.hero-title{
  font-size: 45px;
}
.hero-lead{
  font-size: 10px;
}
.hero-lead{
  font-size: 15px;
}
.hero-btn{
  background: white;
  color: black;
  padding: 5px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.hero-btn:hover{
  background: #2a74ff;
  color: #ffffff;
}
.about{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  flex-wrap: wrap;
  
}
.about-layout{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.about-text{
  line-height: 1.5;
  text-align: center;
}
.value{
  background:#dcffc0;
  padding: 20px;
}
.value-flex{
  display: flex;
  text-align: centre;
  gap: 10px;
}
.destination{
  padding: 20px;
  padding-left: 20px;
}
.destinations-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding-left: 25px;
  padding-right:25px ;
  margin-top: 20px;
  text-align: center;
}
.grid-item img{
  width :100%;
  border: 2px solid #dcffa0;
  border-radius: 30px;
}
.grid-item{
  transition: 0.3s ease;
}
.grid-item:hover img{
  transform: scale(1.2);
  margin-bottom: 20px;
  transition: 0.3s ease;
}
.contact{
  background: #c0d6ff;
  padding: 10px;
}
.contact-card{
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  max-width: 100%;
  margin: auto;
}
label{
  display: block;
  margin-bottom: 8px;
}
input,textarea{
  width:100%;
  font-size: 10px;
  padding: 5px;
  margin-bottom: 5px;
  font-family: inherit;
}
.btn-primary{
  background: #2a74ff;
  border: none;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;

}
.btn-primary:hover{
  transform: scale(1.3);
}
footer{
  background: #000000;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}
.navbar img{
  margin: auto;
  margin-bottom: 20px;
}
@media screen and (max-width: 760px){
  .about-layout{
    grid-template-columns: 1fr;
  }
}
.value-flex{
  flex-direction: column;
}
.destination-grid{
  grid-template-columns: repeat(2,1fr);
}
@media screen and (max-width: 540px){
  .navbar{
    padding-bottom: 10px;
  }
}
.navbar img{
  margin: auto;
  margin-bottom: 10px;
}
.navbar-links{
  margin: auto;
}
